torch 
wandb 
numpy
pandas
gensim
mypy
ruff
black
datasets
pyarrow
tqdm
huggingface_hub
faiss-cpu
fastapi
uvicorn
torchvision
matplotlib
seaborn
gradio
transformers
pillow
git+https://github.com/soundata/soundata.git@main